.admin-bookings-calendar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 5.5rem;
}

.admin-bookings-calendar__layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.admin-bookings-calendar__sidebar {
  width: 100%;
  flex-shrink: 0;

  @media (min-width: 1024px) {
    width: 240px;
  }

  &--hidden {
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }
  }
}
